body{
    width: 60%;
    height: auto;
    color: black;
    padding: 10px;
    margin: 20px;
    text-align:left;
}
div{
    height: 500px;
}
.sticky{
    position:sticky;
    top:0px;
    
}
.static{
    position:static;
    top: 50px;
    left:20px;

}
.absolute{
    top: 0;
    left:0;
}
.sticky-header{
    position:sticky;
    top:0px;
}
.container{
    height:500px;
}
.fixed{
    position:fixed;
    top:10px;
}